xml/Ejercicios XSD/Ejercicio4_Iker_Mendez.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://example.com/heladeria"
           targetNamespace="http://example.com/heladeria"
           elementFormDefault="qualified">

  <xs:element name="heladeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="helado" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice>
                <xs:sequence>
                <xs:element name="fresa" type="EmptyElementType"/>
                <xs:element name="chocolate" type="EmptyElementType"/>
              </xs:sequence>
              <xs:sequence>
                <xs:element name="vainilla" type="EmptyElementType"/>
                <xs:element name="chocolate" type="EmptyElementType"/>
              </xs:sequence>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="EmptyElementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
