xml/Ejercicio_presentacion_XSD/Ejercicio3_Iker_Mendez.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ciudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ciudad" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="país" type="xs:string"/>
              <xs:element name="continente" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
